body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fbddec;
    color: #000000;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures the header stays above other content */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

section {
    padding: 2em;
    margin-top: 4em; /* Adjusts for the fixed header height */
}

#home {
    background-color: #FFEAE3;

}

#text {
    /* background-color: #FFEAE3; */
}

#upload {
    background-color: #FFEAE3;
}

#download {
    background-color: #FFEAE3;
}
.grid-container {
    display: grid;
    background-color: #e2e2e2;
    grid-template-columns: 50% 50%;
}

.bg-get {
    background-color: #FFEAE3;
}

.bg-post {
    background-color: #FFEAE3;
}